@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:where(.css-dev-only-do-not-override-17a39f8).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  margin-bottom: 10px;
  padding: 20px 10px;
  line-height: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.ant-layout-sider-children .ant-menu-item-selected {
  color: #fb7c29;
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background: #fb7c29;
  color: white;
  border: 0;
}




