@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
:where(.css-dev-only-do-not-override-17a39f8).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  margin-bottom: 10px;
  padding: 20px 10px;
  line-height: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Abril Fatface", cursive !important;
}

.ant-layout-sider-children .ant-menu-item-selected {
  color: #fb7c29;
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background: #fb7c29;
  color: white;
  border: 0;
}

:root {
  --primary-color: #fb7c29;
  --secondary-color: #ef4444;
  --black-color: #252525;
  --mute-color: #4b5563;
}
