@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: clash-display;
  src: url("./Util/fonts/ClashDisplay-Regular.ttf");
}
@font-face {
  font-family: clash-display-bold;
  src: url("./Util/fonts/ClashDisplay-Bold.ttf");
}

body {
  width: 100%;
  font-family: clash-display;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-family: clash-display-bold;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #fb7c29;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #ec9d69d8;
}
